/*!
 * @theme catppuccin-mocha
 * @author Nicolas Goudry
 *
 * @auto-scaling false
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */

/* Extend default Marpit theme */
@import "default";

:root {
  /* Catppuccin Mocha HEX palette */
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;

  /* Catppuccin Mocha ALPHA palette */
  --rosewater-10: rgba(245, 224, 220, 10%);
  --rosewater-20: rgba(245, 224, 220, 20%);
  --rosewater-30: rgba(245, 224, 220, 30%);
  --rosewater-40: rgba(245, 224, 220, 40%);
  --rosewater-50: rgba(245, 224, 220, 50%);
  --rosewater-60: rgba(245, 224, 220, 60%);
  --rosewater-70: rgba(245, 224, 220, 70%);
  --rosewater-80: rgba(245, 224, 220, 80%);
  --rosewater-90: rgba(245, 224, 220, 90%);
  --flamingo-10: rgba(242, 205, 205, 10%);
  --flamingo-20: rgba(242, 205, 205, 20%);
  --flamingo-30: rgba(242, 205, 205, 30%);
  --flamingo-40: rgba(242, 205, 205, 40%);
  --flamingo-50: rgba(242, 205, 205, 50%);
  --flamingo-60: rgba(242, 205, 205, 60%);
  --flamingo-70: rgba(242, 205, 205, 70%);
  --flamingo-80: rgba(242, 205, 205, 80%);
  --flamingo-90: rgba(242, 205, 205, 90%);
  --pink-10: rgba(245, 194, 231, 10%);
  --pink-20: rgba(245, 194, 231, 20%);
  --pink-30: rgba(245, 194, 231, 30%);
  --pink-40: rgba(245, 194, 231, 40%);
  --pink-50: rgba(245, 194, 231, 50%);
  --pink-60: rgba(245, 194, 231, 60%);
  --pink-70: rgba(245, 194, 231, 70%);
  --pink-80: rgba(245, 194, 231, 80%);
  --pink-90: rgba(245, 194, 231, 90%);
  --mauve-10: rgba(203, 166, 247, 10%);
  --mauve-20: rgba(203, 166, 247, 20%);
  --mauve-30: rgba(203, 166, 247, 30%);
  --mauve-40: rgba(203, 166, 247, 40%);
  --mauve-50: rgba(203, 166, 247, 50%);
  --mauve-60: rgba(203, 166, 247, 60%);
  --mauve-70: rgba(203, 166, 247, 70%);
  --mauve-80: rgba(203, 166, 247, 80%);
  --mauve-90: rgba(203, 166, 247, 90%);
  --red-10: rgba(243, 139, 168, 10%);
  --red-20: rgba(243, 139, 168, 20%);
  --red-30: rgba(243, 139, 168, 30%);
  --red-40: rgba(243, 139, 168, 40%);
  --red-50: rgba(243, 139, 168, 50%);
  --red-60: rgba(243, 139, 168, 60%);
  --red-70: rgba(243, 139, 168, 70%);
  --red-80: rgba(243, 139, 168, 80%);
  --red-90: rgba(243, 139, 168, 90%);
  --maroon-10: rgba(235, 160, 172, 10%);
  --maroon-20: rgba(235, 160, 172, 20%);
  --maroon-30: rgba(235, 160, 172, 30%);
  --maroon-40: rgba(235, 160, 172, 40%);
  --maroon-50: rgba(235, 160, 172, 50%);
  --maroon-60: rgba(235, 160, 172, 60%);
  --maroon-70: rgba(235, 160, 172, 70%);
  --maroon-80: rgba(235, 160, 172, 80%);
  --maroon-90: rgba(235, 160, 172, 90%);
  --peach-10: rgba(250, 179, 135, 10%);
  --peach-20: rgba(250, 179, 135, 20%);
  --peach-30: rgba(250, 179, 135, 30%);
  --peach-40: rgba(250, 179, 135, 40%);
  --peach-50: rgba(250, 179, 135, 50%);
  --peach-60: rgba(250, 179, 135, 60%);
  --peach-70: rgba(250, 179, 135, 70%);
  --peach-80: rgba(250, 179, 135, 80%);
  --peach-90: rgba(250, 179, 135, 90%);
  --yellow-10: rgba(249, 226, 175, 10%);
  --yellow-20: rgba(249, 226, 175, 20%);
  --yellow-30: rgba(249, 226, 175, 30%);
  --yellow-40: rgba(249, 226, 175, 40%);
  --yellow-50: rgba(249, 226, 175, 50%);
  --yellow-60: rgba(249, 226, 175, 60%);
  --yellow-70: rgba(249, 226, 175, 70%);
  --yellow-80: rgba(249, 226, 175, 80%);
  --yellow-90: rgba(249, 226, 175, 90%);
  --green-10: rgba(166, 227, 161, 10%);
  --green-20: rgba(166, 227, 161, 20%);
  --green-30: rgba(166, 227, 161, 30%);
  --green-40: rgba(166, 227, 161, 40%);
  --green-50: rgba(166, 227, 161, 50%);
  --green-60: rgba(166, 227, 161, 60%);
  --green-70: rgba(166, 227, 161, 70%);
  --green-80: rgba(166, 227, 161, 80%);
  --green-90: rgba(166, 227, 161, 90%);
  --teal-10: rgba(148, 226, 213, 10%);
  --teal-20: rgba(148, 226, 213, 20%);
  --teal-30: rgba(148, 226, 213, 30%);
  --teal-40: rgba(148, 226, 213, 40%);
  --teal-50: rgba(148, 226, 213, 50%);
  --teal-60: rgba(148, 226, 213, 60%);
  --teal-70: rgba(148, 226, 213, 70%);
  --teal-80: rgba(148, 226, 213, 80%);
  --teal-90: rgba(148, 226, 213, 90%);
  --sky-10: rgba(137, 220, 235, 10%);
  --sky-20: rgba(137, 220, 235, 20%);
  --sky-30: rgba(137, 220, 235, 30%);
  --sky-40: rgba(137, 220, 235, 40%);
  --sky-50: rgba(137, 220, 235, 50%);
  --sky-60: rgba(137, 220, 235, 60%);
  --sky-70: rgba(137, 220, 235, 70%);
  --sky-80: rgba(137, 220, 235, 80%);
  --sky-90: rgba(137, 220, 235, 90%);
  --sapphire-10: rgba(116, 199, 236, 10%);
  --sapphire-20: rgba(116, 199, 236, 20%);
  --sapphire-30: rgba(116, 199, 236, 30%);
  --sapphire-40: rgba(116, 199, 236, 40%);
  --sapphire-50: rgba(116, 199, 236, 50%);
  --sapphire-60: rgba(116, 199, 236, 60%);
  --sapphire-70: rgba(116, 199, 236, 70%);
  --sapphire-80: rgba(116, 199, 236, 80%);
  --sapphire-90: rgba(116, 199, 236, 90%);
  --blue-10: rgba(137, 180, 250, 10%);
  --blue-20: rgba(137, 180, 250, 20%);
  --blue-30: rgba(137, 180, 250, 30%);
  --blue-40: rgba(137, 180, 250, 40%);
  --blue-50: rgba(137, 180, 250, 50%);
  --blue-60: rgba(137, 180, 250, 60%);
  --blue-70: rgba(137, 180, 250, 70%);
  --blue-80: rgba(137, 180, 250, 80%);
  --blue-90: rgba(137, 180, 250, 90%);
  --lavender-10: rgba(180, 190, 254, 10%);
  --lavender-20: rgba(180, 190, 254, 20%);
  --lavender-30: rgba(180, 190, 254, 30%);
  --lavender-40: rgba(180, 190, 254, 40%);
  --lavender-50: rgba(180, 190, 254, 50%);
  --lavender-60: rgba(180, 190, 254, 60%);
  --lavender-70: rgba(180, 190, 254, 70%);
  --lavender-80: rgba(180, 190, 254, 80%);
  --lavender-90: rgba(180, 190, 254, 90%);
  --text-10: rgba(205, 214, 244, 10%);
  --text-20: rgba(205, 214, 244, 20%);
  --text-30: rgba(205, 214, 244, 30%);
  --text-40: rgba(205, 214, 244, 40%);
  --text-50: rgba(205, 214, 244, 50%);
  --text-60: rgba(205, 214, 244, 60%);
  --text-70: rgba(205, 214, 244, 70%);
  --text-80: rgba(205, 214, 244, 80%);
  --text-90: rgba(205, 214, 244, 90%);
  --subtext1-10: rgba(186, 194, 222, 10%);
  --subtext1-20: rgba(186, 194, 222, 20%);
  --subtext1-30: rgba(186, 194, 222, 30%);
  --subtext1-40: rgba(186, 194, 222, 40%);
  --subtext1-50: rgba(186, 194, 222, 50%);
  --subtext1-60: rgba(186, 194, 222, 60%);
  --subtext1-70: rgba(186, 194, 222, 70%);
  --subtext1-80: rgba(186, 194, 222, 80%);
  --subtext1-90: rgba(186, 194, 222, 90%);
  --subtext0-10: rgba(166, 173, 200, 10%);
  --subtext0-20: rgba(166, 173, 200, 20%);
  --subtext0-30: rgba(166, 173, 200, 30%);
  --subtext0-40: rgba(166, 173, 200, 40%);
  --subtext0-50: rgba(166, 173, 200, 50%);
  --subtext0-60: rgba(166, 173, 200, 60%);
  --subtext0-70: rgba(166, 173, 200, 70%);
  --subtext0-80: rgba(166, 173, 200, 80%);
  --subtext0-90: rgba(166, 173, 200, 90%);
  --overlay2-10: rgba(147, 153, 178, 10%);
  --overlay2-20: rgba(147, 153, 178, 20%);
  --overlay2-30: rgba(147, 153, 178, 30%);
  --overlay2-40: rgba(147, 153, 178, 40%);
  --overlay2-50: rgba(147, 153, 178, 50%);
  --overlay2-60: rgba(147, 153, 178, 60%);
  --overlay2-70: rgba(147, 153, 178, 70%);
  --overlay2-80: rgba(147, 153, 178, 80%);
  --overlay2-90: rgba(147, 153, 178, 90%);
  --overlay1-10: rgba(127, 132, 156, 10%);
  --overlay1-20: rgba(127, 132, 156, 20%);
  --overlay1-30: rgba(127, 132, 156, 30%);
  --overlay1-40: rgba(127, 132, 156, 40%);
  --overlay1-50: rgba(127, 132, 156, 50%);
  --overlay1-60: rgba(127, 132, 156, 60%);
  --overlay1-70: rgba(127, 132, 156, 70%);
  --overlay1-80: rgba(127, 132, 156, 80%);
  --overlay1-90: rgba(127, 132, 156, 90%);
  --overlay0-10: rgba(108, 112, 134, 10%);
  --overlay0-20: rgba(108, 112, 134, 20%);
  --overlay0-30: rgba(108, 112, 134, 30%);
  --overlay0-40: rgba(108, 112, 134, 40%);
  --overlay0-50: rgba(108, 112, 134, 50%);
  --overlay0-60: rgba(108, 112, 134, 60%);
  --overlay0-70: rgba(108, 112, 134, 70%);
  --overlay0-80: rgba(108, 112, 134, 80%);
  --overlay0-90: rgba(108, 112, 134, 90%);
  --surface2-10: rgba(88, 91, 112, 10%);
  --surface2-20: rgba(88, 91, 112, 20%);
  --surface2-30: rgba(88, 91, 112, 30%);
  --surface2-40: rgba(88, 91, 112, 40%);
  --surface2-50: rgba(88, 91, 112, 50%);
  --surface2-60: rgba(88, 91, 112, 60%);
  --surface2-70: rgba(88, 91, 112, 70%);
  --surface2-80: rgba(88, 91, 112, 80%);
  --surface2-90: rgba(88, 91, 112, 90%);
  --surface1-10: rgba(69, 71, 90, 10%);
  --surface1-20: rgba(69, 71, 90, 20%);
  --surface1-30: rgba(69, 71, 90, 30%);
  --surface1-40: rgba(69, 71, 90, 40%);
  --surface1-50: rgba(69, 71, 90, 50%);
  --surface1-60: rgba(69, 71, 90, 60%);
  --surface1-70: rgba(69, 71, 90, 70%);
  --surface1-80: rgba(69, 71, 90, 80%);
  --surface1-90: rgba(69, 71, 90, 90%);
  --surface0-10: rgba(49, 50, 68, 10%);
  --surface0-20: rgba(49, 50, 68, 20%);
  --surface0-30: rgba(49, 50, 68, 30%);
  --surface0-40: rgba(49, 50, 68, 40%);
  --surface0-50: rgba(49, 50, 68, 50%);
  --surface0-60: rgba(49, 50, 68, 60%);
  --surface0-70: rgba(49, 50, 68, 70%);
  --surface0-80: rgba(49, 50, 68, 80%);
  --surface0-90: rgba(49, 50, 68, 90%);
  --base-10: rgba(30, 30, 46, 10%);
  --base-20: rgba(30, 30, 46, 20%);
  --base-30: rgba(30, 30, 46, 30%);
  --base-40: rgba(30, 30, 46, 40%);
  --base-50: rgba(30, 30, 46, 50%);
  --base-60: rgba(30, 30, 46, 60%);
  --base-70: rgba(30, 30, 46, 70%);
  --base-80: rgba(30, 30, 46, 80%);
  --base-90: rgba(30, 30, 46, 90%);
  --mantle-10: rgba(24, 24, 37, 10%);
  --mantle-20: rgba(24, 24, 37, 20%);
  --mantle-30: rgba(24, 24, 37, 30%);
  --mantle-40: rgba(24, 24, 37, 40%);
  --mantle-50: rgba(24, 24, 37, 50%);
  --mantle-60: rgba(24, 24, 37, 60%);
  --mantle-70: rgba(24, 24, 37, 70%);
  --mantle-80: rgba(24, 24, 37, 80%);
  --mantle-90: rgba(24, 24, 37, 90%);
  --crust-10: rgba(17, 17, 27, 10%);
  --crust-20: rgba(17, 17, 27, 20%);
  --crust-30: rgba(17, 17, 27, 30%);
  --crust-40: rgba(17, 17, 27, 40%);
  --crust-50: rgba(17, 17, 27, 50%);
  --crust-60: rgba(17, 17, 27, 60%);
  --crust-70: rgba(17, 17, 27, 70%);
  --crust-80: rgba(17, 17, 27, 80%);
  --crust-90: rgba(17, 17, 27, 90%);

  /* Globals */
  background-color: var(--base);
}

/* Common styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--red);
}

a {
  color: var(--blue);
}

p,
code,
text,
strong {
  color: var(--text);
}

code {
  background-color: var(--surface2) !important;
}

ul,
li {
  color: var(--subtext1);
}

/* Highlight.js using Catppuccin color palette */
/* Borrowed from https://github.com/catppuccin/highlightjs */
pre :where(.hljs) {
  background: var(--base);
}
pre :where(.hljs-keyword),
pre :where(.hljs-variable),
pre :where(.hljs-variable.language_),
pre :where(.hljs-name),
pre :where(.hljs-selector-attr) {
  color: var(--mauve);
}
pre :where(.hljs-built_in),
pre :where(.hljs-doctag),
pre :where(.hljs-emphasis),
pre :where(.hljs-strong),
pre :where(.hljs-deletion) {
  color: var(--red);
}
pre :where(.hljs-type),
pre :where(.hljs-title.class_),
pre :where(.hljs-selector-tag) {
  color: var(--yellow);
}
pre :where(.hljs-literal),
pre :where(.hljs-number),
pre :where(.hljs-variable.constant_),
pre :where(.hljs-meta) {
  color: var(--peach);
}
pre :where(.hljs-property),
pre :where(.hljs-tag),
pre :where(.hljs-bullet),
pre :where(.hljs-formula),
pre :where(.hljs-selector-class),
pre :where(.hljs-selector-pseudo) {
  color: var(--teal);
}
pre :where(.hljs-string),
pre :where(.hljs-char.escape_),
pre :where(.hljs-attribute),
pre :where(.hljs-code),
pre :where(.hljs-quote),
pre :where(.hljs-addition) {
  color: var(--green);
}
pre :where(.hljs-symbol),
pre :where(.hljs-template-tag),
pre :where(.hljs-template-variable) {
  color: var(--flamingo);
}
pre :where(.hljs-title),
pre :where(.hljs-title.function_),
pre :where(.hljs-section),
pre :where(.hljs-attr),
pre :where(.hljs-selector-id) {
  color: var(--blue);
}
pre :where(.hljs),
pre :where(.hljs-params) {
  color: var(--text);
}
pre :where(.hljs-operator) {
  color: var(--sky);
}
pre :where(.hljs-punctuation) {
  color: var(--subtext1);
}
pre :where(.hljs-regexp) {
  color: var(--pink);
}
pre :where(.hljs-subst) {
  color: var(--subtext0);
}
pre :where(.hljs-comment) {
  color: var(--overlay2);
}
pre :where(.hljs-link) {
  color: var(--sapphire);
}
pre :where(.hljs-addition) {
  background: var(--green-20);
}
pre :where(.hljs-deletion) {
  background: var(--red-20);
}
pre :where(.hljs-emphasis),
pre :where(.hljs-quote),
pre :where(.hljs-link) {
  font-style: italic;
}
pre :where(.hljs-strong) {
  font-weight: bold;
}
